STAGE=dev

DB_PASSWORD= Mon.chi2020
DB_NAME= db_sabores
DB_HOST= localhost
DB_PORT=3306
DB_USERNAME=root




PORT=4000
HOST_API=http://localhost:4000/api

JWT_SECRET=Est3EsMISE3Dsecreto321




# PORT=4000
# HOST_API=http://localhost:4000/api