STAGE=dev

DB_PASSWORD= Mon.chi2020
DB_NAME= database-1
DB_HOST=
DB_PORT=
DB_USERNAME=




PORT=4000
HOST_API=http://localhost:4000/api

JWT_SECRET=Est3EsMISE3Dsecreto321




# PORT=4000
# HOST_API=http://localhost:4000/api